/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-color: rgb(13, 37, 59);
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: 'Courier New', Courier, monospace;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  color: rgb(225, 181, 50);
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  text-align: center;
}

h2{
  color: rgb(240, 199, 77);
  font-size:large;
  font-family: 'Courier New', Courier, monospace;
}

h3{
  color: rgb(255, 220, 114);
  font-family: 'Courier New', Courier, monospace;
}
p{
  color: rgb(255, 232, 164);
}

.special{
  background-color: rgb(124, 191, 208);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}