/* Here we can set styles for this lab page that we don't want to affect others pages */

/* the period in a CSS selector selects an element sby class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px beige;
    background-color:rgb(65, 101, 135);
  }

  h1{
    color: rgb(225, 181, 50);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
  }
  h2{
    color: rgb(240, 199, 77);
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
  }
  p{
    color: rgb(255, 232, 164);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
  }

  #content{
    background-color: rgb(10, 29, 46);
    border-style: groove;

  }